.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loginform {
    display: flex;
    flex-direction: column;
}
.loginInput {
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
}
.loginBtn {
    background-color: teal;
    padding: 10px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}